<li class="external-link"><a href="https://github.com/bmitch"><i class="fa fa-github"></i> GitHub</a></li>
<li class="external-link"><a href="http://stackoverflow.com/users/460075/wkm">Stack Overflow</a></li>
<li class="external-link"><a href="https://www.linkedin.com/in/wkmitch"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
<li class="external-link"><a target="_blank" href="mailto:wkmitch@gmail.com"><i class="fa fa-envelope"></i> Contact</a></li>
<li class="external-link"><a href="http://www.last.fm/user/millbitchell">Last.fm</a></li>






